h3 {
	font-size: 17px;
	font-weight: normal;
	color: #1a3852
}

div.header {
	background-color: #3B3833;
	border: none
}

div#plugins {
	font-weight: bold;
	font-size: 14px
}

map area {
	cursor: hand
}

.blue-background {
	background: #7f7fff
}

#xml_style,
#rwdImageMaps,
#Mousey {
	display: none
}

p.teach_question {
	color: #A21F4B
}